/*
  This assumes that you have a div with a class of fizzbuzz with 100 empty divs inside
*/

:root {
  counter-reset: x;
}

div.fizzbuzz div:before {
  counter-increment: x;
  content: counter(x);
}

div.fizzbuzz div:nth-of-type(3n):before {
  content: "Fizz";
}

div.fizzbuzz div:nth-of-type(5n):before {
  content: "Buzz";
}

div.fizzbuzz div:nth-of-type(3n):nth-of-type(5n):before {
  content: "FizzBuzz";
}
